server:
    port: 8080

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/survey_system?useSSL=false&serverTimezone=UTC
        username: root
        password: root

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format-sql: true

    thymeleaf:
        cache: false

logging:
    level:
        org:
            springframework:
                security: DEBUG
